<div class="surface-card p-4 shadow-2 border-round m-6">
    <div class="text-4xl font-semibold text-900 mb-3">Love to hear from you,</div>
    <div class="text-4xl font-semibold text-900 mb-3">Get in touch</div>
    <p-divider></p-divider>
    <div class="p-4">
        <form #rentalFormInput="ngForm">

            <div class="form-element grid mb-3">
                <div class="col">
                    <label for="firstName" class="block text-900 font-medium mb-2">First name</label>
                    <input type="text" class="w-full" pInputText placeholder="First name" name="firstName"
                        [(ngModel)]="contactForm.firstName" />
                </div>
                <div class="col">
                    <label for="lastName" class="block text-900 font-medium mb-2">Last name</label>
                    <input type="text" class="w-full" pInputText placeholder="Last name" name="lastName"
                        [(ngModel)]="contactForm.lastName" />
                </div>
            </div>
            <div class="form-element grid mb-4">
                <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                <input type="email" class="w-full" pInputText placeholder="example@gmail.com" name="email"
                    [(ngModel)]="contactForm.email" />
            </div>
            <div class="form-element grid">
                <label for="description" class="block text-900 font-medium mb-2">Description</label>
                <input type="text" class="w-full" pInputText placeholder="Detailed info" name="description"
                    [(ngModel)]="contactForm.message" />
            </div>

            <div class="footer text-right mt-6">
                <p-button label="Send" icon="pi pi-check" type="submit" (click)="sendQuery()"></p-button>
            </div>

        </form>
    </div>
</div>

<p-toast position="top-right"></p-toast>