<div class="surface-section px-4 py-8 md:px-6 lg:px-8 m-6 shadow-2 border-round">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">POWERED BY GVSU</div>
        <div class="text-900 font-bold text-5xl mb-3">Join Our Apartment Rental Community</div>
        <div class="text-700 text-2xl mb-5">
            Looking to make your next move safe and easy? HomeAwayFromHome is here for you!
        </div>
        <br>
        <div class="text-700 text-2xl mb-5">
            We are an apartment listing service ready to help you find an apartment or house for rent in the easiest way possible.
            We guide you through the entire rental journey - from browsing a comprehensive list of available rentals in your area,
            and researching the area, to contacting properties and submitting a rental application online.
        </div>
        <button pButton pRipple label="View Listings" (click)="navigateToListing()"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>