<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">

        <!-- Loop this container -->
        <ng-container *ngFor="let property of rentalForms">
            <div class="col-12 md:col-6 lg:col-4" (click)="navToDetails(property.id)">
                <div class="property-card surface-card shadow-2 p-3 border-round">
                    <div class="img-block mb-2">
                        <p-image [src]="property.images[0]" alt="Image" width="100%"></p-image>
                    </div>
                    <div class="flex justify-content-between mb-2">
                        <div>
                            <span class="block text-green-600 text-sm font-normal"> {{ property.address1 }} {{
                                property.city }} {{ property.state }} {{ property.zipCode }} </span>
                        </div>
                    </div>
                    <div class="footer flex align-items-baseline justify-content-between">
                        <div>
                            <span class="text-dark-500 text-base font-medium">${{ property.price }}, </span>
                            <span class="text-500"> {{ property.roomsAvailable }} bed,
                                <ng-container *ngIf="property.bathrooms">
                                    {{ property.bathrooms }} bath
                                </ng-container>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>